<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>0.1.0</string>
	<key>name</key>
	<string>noteit</string>
	<key>autoBuild</key>
	<true/>
	<key>entities</key>
	<array>
		<dict>
			<key>name</key>
			<string>note</string>
			<key>modelclassname</key>
			<string>TSTNote</string>
			<key>attributes</key>
			<array>
				<dict>
					<key>name</key>
					<string>id</string>
					<key>displayname</key>
					<string></string>
					<key>classname</key>
					<string>NSNumber</string>
					<key>default</key>
					<string></string>
					<key>controlname</key>
					<string></string>
					<key>propertyname</key>
					<string></string>
					<key>primative</key>
					<string>int</string>
				</dict>
				<dict>
					<key>name</key>
					<string>lat</string>
					<key>displayname</key>
					<string></string>
					<key>classname</key>
					<string>NSNumber</string>
					<key>default</key>
					<string></string>
					<key>controlname</key>
					<string></string>
					<key>propertyname</key>
					<string></string>
					<key>primative</key>
					<string>float</string>
				</dict>
				<dict>
					<key>name</key>
					<string>long</string>
					<key>displayname</key>
					<string></string>
					<key>classname</key>
					<string>NSNumber</string>
					<key>default</key>
					<string></string>
					<key>controlname</key>
					<string></string>
					<key>propertyname</key>
					<string></string>
					<key>primative</key>
					<string>float</string>
				</dict>
				<dict>
					<key>name</key>
					<string>created</string>
					<key>displayname</key>
					<string>created</string>
					<key>classname</key>
					<string>NSDate</string>
					<key>default</key>
					<string></string>
					<key>controlname</key>
					<string>MMDateField</string>
					<key>propertyname</key>
					<string>date</string>
				</dict>
				<dict>
					<key>name</key>
					<string>text</string>
					<key>displayname</key>
					<string>text</string>
					<key>classname</key>
					<string>NSString</string>
					<key>default</key>
					<string></string>
					<key>controlname</key>
					<string>UITextView</string>
					<key>propertyname</key>
					<string>value</string>
				</dict>
				<dict>
					<key>name</key>
					<string>location</string>
					<key>displayname</key>
					<string>location</string>
					<key>classname</key>
					<string>NSNumber</string>
					<key>default</key>
					<string>0</string>
					<key>controlname</key>
					<string>MMNumberField</string>
					<key>propertyname</key>
					<string></string>
					<key>primative</key>
					<string>int</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>notebook</string>
			<key>attributes</key>
			<array>
				<dict>
					<key>name</key>
					<string>id</string>
					<key>displayname</key>
					<string></string>
					<key>classname</key>
					<string>NSNumber</string>
					<key>default</key>
					<string></string>
					<key>controlname</key>
					<string></string>
					<key>propertyname</key>
					<string></string>
					<key>primative</key>
					<string>int</string>
				</dict>
				<dict>
					<key>name</key>
					<string>title</string>
					<key>displayname</key>
					<string>title</string>
					<key>classname</key>
					<string>NSString</string>
					<key>default</key>
					<string></string>
					<key>controlname</key>
					<string></string>
					<key>propertyname</key>
					<string></string>
				</dict>
				<dict>
					<key>name</key>
					<string>description</string>
					<key>displayname</key>
					<string>Device</string>
					<key>classname</key>
					<string>NSString</string>
					<key>default</key>
					<string></string>
					<key>controlname</key>
					<string></string>
					<key>propertyname</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
